
body {
    background-color: rgb(32, 40, 48);
  }
  
div#ascii-name { /* This applies to the ascii container rather than the <pre> tags themselves. */
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    color: rgb(245, 82, 115);
    font-weight: bold;
    line-height: 5px;
    padding: 40px;
}
  
.center { /* This style is used often enough that it was separated into its own class. */
    text-align: center;
}

h1 {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    color: rgb(21, 223, 155);
    padding: 40px;
}

h2 {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    color: white;
    font-size: 175%;
    font-weight: 400;
}

main { /* This semantic class is mainly being used for centering the paragraphs on the page. */
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 4em;
}

h3 {
    color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 400;
}
 
.body-text { /* This is for any p, ul, or ol tags that count as normal body text. */
    color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    margin-bottom: 5em;
}

.links {
    margin: auto 45%;
    text-align: left;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: x-large;
  }

  a {text-decoration-line: none;} /* This removes the text underline normally seen with web links*/
  a:link {color: white;}
  a:visited {color: rgb(245, 82, 115);}
  a:hover {color: rgb(21, 223, 155);}
  a:active {color: deepskyblue;}