
body {
    background-color: rgb(32, 40, 48);
  }
  
div#ascii-name {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(245, 82, 115);
    font-weight: bold;
}
  
header {
    line-height: 10px;
}