
body {
    background-color: rgb(32, 40, 48);
  }
  
div#ascii-name {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    color: rgb(245, 82, 115);
    font-weight: bold;
    line-height: 10px;
    padding: 40px;
}
  
header {
    text-align: center;
}

h1 {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    color: rgb(21, 223, 155);
    padding: 40px;
}